 {
   background-color: chocolate;
}


body {
margin: 0px;
padding: 0px;


}
 main {
    padding: 20px;
   
 }
 footer {
   padding-top: 20px;
   padding-bottom: 20px;
   border-bottom: 1px;
   background-color: rgb(114, 175, 0);
   font-size: 16px;
   text-indent: 30px;
   
}
 img {
    height: 200px;
    padding-top: 5px;
 }
 nav {
    padding: 15px;
    border-bottom: 1px solid; 
    color: black;
   background-color: rgb(236, 42, 17);
   
 }
 .header-nav{
   color:whitesmoke;
 }

 h1{
   color: rgb(8, 97, 8);
 }
 .veg {
   color: green;
 }
 .taco-img {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 10px;
 }
 .taco {
   display: grid;
   justify-content: auto;

 }

