img {
    height: 200px;
    padding-top: 8px;
 }
 nav {
   padding: 15px;
   border-bottom: 1px solid; 
   color: black;
  background-color: rgb(236, 42, 17);
 }
 main {
    padding: 16px;
 }
 body {
    margin: 0px;
    padding: 0px;
     }
     

h3 {
    text-size-adjust: 30px; 
    color: rgb(0, 0, 0);
}
.header-nav{
   color:whitesmoke;
 }
 h1 {
   color: rgb(8, 97, 8);
 } 
 footer {
   padding-top: 20px;
   padding-bottom: 20px;
   border-bottom: 1px;
   background-color: rgb(114, 175, 0);
   font-size: 16px;
   text-indent: 30px;
   
}
 .selector tr:nth-child(2n) {
background-color: rgb(175, 175, 175);
}
